@use "./../../../../variables" as *;

.contact{

    margin: 0 auto;
    max-width: 1000px;
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
    height: 100vh;
    display: table;

    .container{
        display: table-cell;
        vertical-align: middle;
    }

    .contact-title{

        position: relative;
        font-size: 25px;
        font-weight: 600;
        color: $LightestSlate;
        margin: auto;
    }
    .contact-pre-title{
        position: relative;
        color: $Green;
        font-family: $CodeFont;
        font-weight: normal;
        margin-bottom: 20px;
        text-align: center;
    }

}

@media (max-width: 768px){

    .contact{
        height: 100vh;
        padding: 0 !important;
        margin: 0 auto !important;
        display: table;

        .container{
            display: table-cell;
            vertical-align: middle;
        }
    }
}
