@use "./../../../../variables" as *;

.projects {
  margin-top: 100px;
}

.project-container {
  display: flex;
  align-items: center;
  gap: 4rem;
  margin: 100px 0;
  position: relative;
}

.project-container.reverse {
  flex-direction: row-reverse;
}

/* IMAGE SLIDER */

.image-slider {
  flex: 1;
  max-width: 600px;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  position: relative;
  z-index: 1;
  scrollbar-width: none;
  cursor: grab;
}

.image-track {
  display: flex;
  gap: 1rem;
}

.img-container {
  flex: 0 0 100%;
  scroll-snap-align: center;
}

.img-feature-project {
  width: 100%;
  border-radius: 12px;
  display: block;
}

/* PROJECT INFO */

.project-info {
  flex: 1;
  position: relative;
  z-index: 2;
}

.feature-project {
  font-size: 13px;
  font-family: $CodeFont;
  color: $Green;
  margin-bottom: 10px;
}

.project-name {
  font-size: 28px;
  color: $LightestSlate;
  margin-bottom: 20px;
}

.project-description-box {
  background-color: $LightNavy;
  padding: 25px;
  border-radius: 8px;
  color: $LightSlate;
  box-shadow: 0 10px 30px -15px rgba(2, 12, 27, 0.7);
}

.project-skills {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 25px 0;
  list-style: none;
  padding: 0;

  li {
    font-family: $CodeFont;
    font-size: 13px;
    color: $Slate;
  }
}

.project-links {
  display: flex;
  gap: 1.5rem;
  font-size: 22px;
}

/* RESPONSIVE */

@media (max-width: 992px) {
  .project-container {
    flex-direction: column;
    gap: 2rem;
  }

  .project-container.reverse {
    flex-direction: column;
  }

  .image-slider {
    max-width: 100%;
  }

  .project-info {
    text-align: center;
  }

  .project-skills {
    justify-content: center;
  }

  .project-links {
    justify-content: center;
  }
}
/* Effet débordement desktop uniquement */
@media (min-width: 992px) {
  .project-info {
    display: flex;
    flex-direction: column;
    align-items: end;
    .project-description-box {
      margin-left: -150px;
    }
  }

  .project-container.reverse .project-info {
    display: flex;
    flex-direction: column;
    align-items: start;
    .project-description-box {
      margin-left: 0;
      margin-right: -150px;
    }
  }
}
